[submodule "pack/navigation/start/fzf-vim"]
	path = pack/navigation/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/navigation/start/fzf"]
	path = pack/navigation/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/version-control/start/vim-gitgutter"]
	path = pack/version-control/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/filetypes/start/vim-dotenv"]
	path = pack/filetypes/start/vim-dotenv
	url = https://github.com/tpope/vim-dotenv.git
[submodule "pack/version-control/start/vim-fugitive"]
	path = pack/version-control/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/navigation/start/vim-unimpaired"]
	path = pack/navigation/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/file-checkers/opt/syntastic"]
	path = pack/file-checkers/opt/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/autocompletion/opt/coc"]
	path = pack/autocompletion/opt/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/utils/start/vim-commentary"]
	path = pack/utils/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/utils/start/vim-case-convert"]
	path = pack/utils/start/vim-case-convert
	url = https://github.com/chiedo/vim-case-convert.git
[submodule "pack/utils/start/vim-surround"]
	path = pack/utils/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/navigation/start/vim-vinegar"]
	path = pack/navigation/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/snippets/start/ultisnips"]
	path = pack/snippets/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/snippets/start/vim-snippets"]
	path = pack/snippets/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/utils/start/vim-obsession"]
	path = pack/utils/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/navigation/start/vim-sneak"]
	path = pack/navigation/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/writing/start/goyo-vim"]
	path = pack/writing/start/goyo-vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/writing/start/limelight-vim"]
	path = pack/writing/start/limelight-vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "pack/navigation/start/vim-startify"]
	path = pack/navigation/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/color-schemes/opt/rainglow-vim"]
	path = pack/color-schemes/opt/rainglow-vim
	url = git@github.com:rainglow/vim.git
