[submodule "pack/color-schemes/opt/base16-vim"]
	path = pack/color-schemes/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/navigation/start/fzf-vim"]
	path = pack/navigation/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/navigation/start/fzf"]
	path = pack/navigation/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/version-control/start/vim-gitgutter"]
	path = pack/version-control/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/filetypes/start/vim-dotenv"]
	path = pack/filetypes/start/vim-dotenv
	url = https://github.com/tpope/vim-dotenv.git
[submodule "pack/version-control/start/vim-fugitive"]
	path = pack/version-control/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/navigation/start/vim-unimpaired"]
	path = pack/navigation/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
